<p id="notice"><%= notice %></p>
<table class="show_table">
  <tr><td style="width: 300px; font-size: 15px; padding-top: 15px; color: #A0A0A0 ;">Name:</td><td style="font-size: 25px; text-align: right;"><%= best_in_place @art_piece, :name %></td></tr>
  <tr><td style="width: 300px; font-size: 15px; padding-top: 15px; color: #A0A0A0 ;">Type of Art:</td><td style="font-size: 25px; text-align: right;"><%= @art_piece.art_type.type_of_art %></td></tr>
  <tr><td style="width: 300px; font-size: 15px; padding-top: 15px; color: #A0A0A0 ;">Created on:</td><td style="font-size: 25px; text-align: right;"><%= best_in_place @art_piece, :date %></td></tr>
  <tr><td style="width: 300px; font-size: 15px; padding-top: 15px; color: #A0A0A0 ;">Number of pieces in Art piece: </td><td style="font-size: 25px; text-align: right;"><%= @art_piece.number_of_pieces %></td></tr>
  <tr><td style="width: 300px; font-size: 15px; padding-top: 15px; color: #A0A0A0 ;">Number of productions:</td><td style="font-size: 25px; text-align: right;"><%= @art_piece.productions.count %></td></tr>
  <tr><td style="width: 300px; font-size: 15px; padding-top: 15px; color: #A0A0A0 ;">Location of piece:</td><td style="font-size: 25px; text-align: right;"><%= @art_piece.location.name %></td></tr>
  <tr><td style="width: 300px; font-size: 15px; padding-top: 15px; color: #A0A0A0 ;">Delivery date:</td><td style="font-size: 25px; text-align: right;"><%= @art_piece.delivery_date %></td></tr>
  <tr><td style="width: 300px; font-size: 15px; padding-top: 15px; color: #A0A0A0 ;">Removal date:</td><td style="font-size: 25px; text-align: right;"><%= @art_piece.removal_date %></td></tr>
</table>
</br>
</br>
</br>
<table class="table table-hover ">
  <tr style="background:-o-linear-gradient(bottom, #FAFAFA 5%, #afafaf 100%); background:-webkit-gradient( linear, left top, left bottom, color-stop(0, #FAFAFA), color-stop(1, #C2C2C2));
  background:-moz-linear-gradient( center top, #d8d8d8 5%, #afafaf 100% );
  background: -o-linear-gradient(top,#d8d8d8,afafaf);"><th>Productions for <%= @art_piece.name %></th><th>Location of Production</th><th></th><th></th></tr>
<% @art_piece.productions.each do |production| %>
  <tr><td style="width: 300px; "><%= production.number %></td><td><%= production.location.name %></td><td><%= production.name %></td><td><%= button_to "Edit", edit_art_piece_production_path(@art_piece, production), :method => "get", class: "btn btn-warning btn-xs" %></td></tr>
<% end %>
</table>

<%= link_to 'Edit', edit_art_piece_path(@art_piece) %> |
<%= link_to 'Back', art_pieces_path %>
<%= button_to 'Add Production', new_art_piece_production_path(@art_piece), :method => "get", class: "btn btn-primary btn-xs" %>
