<%= form_for(@art_type) do |f| %>
  <% if @art_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@art_type.errors.count, "error") %> prohibited this art_type from being saved:</h2>

      <ul>
      <% @art_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_of_art %><br />
    <%= f.text_field :type_of_art %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
